@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: "Berkeley Mono", ui-monospace, "Commit Mono", "SF Mono", monospace;
}
